
# don't track logs
/log
log/*.log
service/log
service/log/*.log

gsheet.json
test.sh

# don't track PID files
*.pid

# don't track conf files
conf*.json

# don't track autosaved files
*.*~

# don't track node modules (use npm install after clone/pull)
/node_modules

# don't track project files
*.sublime*

# don't track demo (but do track html in general)
html/ssdemo.html