
# don't track logs
*.log

# don't track PID files
*.pid

# don't track autosaved files
*.*~

# don't track node modules (use npm install after clone/pull)
/node_modules

# don't track project files
*.sublime*